.manager-user-shopcart .account-setting .noidung {
    padding-bottom: 50px;
}
.manager-user-shopcart .account-setting .noidung {
    background: #fff;
    position: relative;
    z-index: 2;
    margin-top: 70px;
    padding: 0 15px;
    box-shadow: 1px 3px 5px #eee;
}
section .account-setting .headings {
    border-bottom: 1px solid #eee;
    padding: 10px 0px;
}
section .account-setting .noidung h5 {
    font-size: 15px;
    font-weight: bold;
    display: inline-block;
    margin: 0;
}
section .account-setting .noidung .padding-text {
    padding-left: 30px;
}
section .account-setting .noidung .headings-color {
    color: #fff;
    border-bottom: 1px solid #eee;
    padding: 10px 0;
    background: #f16e8e;
    margin-left: -15px;
    margin-right: -15px;
}
section .account-setting .noidung .padding-text {
    padding-left: 30px;
}
strong {
    font-weight: 700;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
}
.form-group {
    margin-bottom: 15px;
}
.editable-click {
    text-decoration: none;
    border-bottom: dashed 1px #0088cc;
}
.editable-empty, .editable-empty:hover, .editable-empty:focus {
    font-style: italic;
    color: #DD1144;
    /* border-bottom: none; */
    text-decoration: none;
}
.text-muted {
    color: #777;
}
::-webkit-scrollbar {
    width: 7px;
    background-color: transparent;
}
section .account-setting .noidung .update_profile {
    color: #fff;
    background: #f16e8e;
}
form {
    margin: 0;
    padding: 0;
}
.content {
    padding: 10px 30px;
}
section .manager-user-shopcart .col-md-9 .content {
    padding-bottom: 30px;
}
div {
    display: block;
}
.content {
    background: #fff;
    position: relative;
    z-index: 2;
    margin-top: 70px;
    padding: 0 15px;
    box-shadow: 1px 3px 5px #eee;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
}
.col-md-9 {
    width: 1000px;
}