.tab-admin-shop{
    background: #e1738f;
    color: white;
    font-weight: 700;
    margin-bottom: 16px;
    padding-left: 116px;
    margin-bottom: 40px;
}
.tab-order{
    padding-top: 32px;
    color: white;
    font-weight: 700;
    margin-bottom: 16px;
    padding-left: 116px;
    margin-bottom: 40px;
}
.tab-admin-shop ul{
  background: rgb(245, 240, 240);
}
.tab-admin-shop ul li{
    list-style: none;
    float: left;
    padding: 10px;
}
.tab-admin-shop ul li a{
    color: white !important;
    font-weight: bold;
}


.tab-order ul{
    background: rgb(245, 240, 240);
  }
  .tab-order ul li{
    list-style: none;
    float: left;
    padding: 5px;
    border-radius: 5px;
    background: #d37790;
    margin-left: 13%;
  }
  .tab-order ul li a{
      color: white !important;
      font-weight: bold;
  }
  .title-tab-admin-shop{
    text-align: center;
    font-size: 21px;
    /* color: #d37790; */
    font-weight: bold;
}

.title-moduleadd-product{
    color: #e652a2;
    /* font-size: 17px; */
    padding: 8px;
    font-weight: 700;
}
.title-add-product{
    background: #d558a3;
    color: white;
    border-radius: 0px 24px 24px 0px;
    padding: 5px;
}

 div.text-comment {
    position: relative;
    padding-left: 70px;
    margin-top: 30px;
}
 .post-comment .text-comment .avatar {
    position: absolute;
    width: 55px;
    height: 55px;
    left: 0px;
}
 .post-comment .text-comment .avatar .img-avatar {
    width: 55px;
    height: 55px;
}
 .post-comment div.text-comment span {
    font-size: 11px;
    font-style: italic;
}
 .post-comment div.text-comment a {
    font-size: 12px;
    color: #f16e8e;
}
.post-comment div.text-comment span {
    font-size: 11px;
    font-style: italic;
}
 .post-comment div.text-comment a {
    font-size: 12px;
    color: #f16e8e;
}
.post-comment div.text-comment p.content {
    margin-bottom: 0;
    padding: 5px 0px 10px 10px;
    font-size: 14px;
}

.post-comment div.text-comment p {
    margin-top: 3px;
    font-size: 13px;
    line-height: 18px;
}
.post-comment div.text-comment {
    position: relative;
    padding-left: 70px;
    margin-top: 30px;
}
.post-comment .comment-form .avatar-me {
    display: inline-block;
    width: 55px;
    vertical-align: top;
    margin: 0px;
}
.post-comment .comment-form .box-comment {
    display: inline-block;
    width: calc(100% - 75px);
    text-align: right;
    margin-left: 10px;
    /* border: 1px solid #ececec; */
}
 .post-comment .comment-form .box-comment {
    display: inline-block;
    width: calc(100% - 75px);
    text-align: right;
    margin-left: 10px;
    /* border: 1px solid #ececec; */
}


.avatar-alert {
    width: 38px;
    border-radius: 50%;
    
  }
  .name-alert{
    float: left;
    padding-right: 5px;
    font-weight: 700;
    padding-top: 5px;
  }
  .alert-message{
    padding-bottom: 7px;
    /* border-bottom: 1px solid #d8d4d4; */
  }
  .time-alert{
    color: #89908e;
    /* margin-bottom: -3px !important; */
    font-size: 12px;
    margin-top: 8px;
    /* margin-left: 5px; */
    font-size: 13px;
  }
  .alert-message p{
      line-height: 0px;
  }
  .title-order{
    background: #76c0de;
    color: white;
    padding: 6px;
    font-weight: bold;
    border-radius: 0px 20px 20px 0px;
  }