.manager-user-shopcart .order .noidung {
    background: #fff;
    position: relative;
    z-index: 2;
    margin-top: 70px;
    padding: 0 15px;
    box-shadow: 1px 3px 5px #eee;
}
section .order .headings {
    border-bottom: 1px solid #eee;
    padding: 10px 0px;
}
section .order .noidung h5 {
    font-size: 15px;
    font-weight: bold;
    display: inline-block;
    margin: 0;
}