section .manager-user-shopcart{
	background: #f1f1f1 !important;

}
section .conetent-manager{
	padding-top: 0px !important;
}
section .menu-manager, .content{
    background: #fff;
    position: relative;
    z-index: 2;
    margin-top: 70px;
    padding: 0 15px;
    box-shadow: 1px 3px 5px #eee;
}
section  .headings{
	border-bottom: 1px solid #eee;
    padding: 10px 0px;

}.headings >
section .headings > h5 {
    font-size: 15px !important;
    font-weight: bold !important;
    display: inline-block !important;
    margin: 0 !important;
}
section .menu-manager ul {
    padding: 0;
}
section .menu-manager ul li {
    list-style: none;
}
section .menu-manager ul li a {
    color: #646464;
    text-decoration: none;
    display: block;
    padding: 7px 0;
    position: relative;
    transition: all 0.3s ease;
}
section .menu-manager ul li a:after {
    content: '\f0da';
    font-family: fontawesome;
    position: absolute;
    opacity: 0;
    top: 7px;
    left: 0;
}
section .menu-manager ul li a:hover {
    color: #f16e8e !important;
}
section .menu-manager ul li a.active {
    color: #f16e8e !important;
    padding-left: 17px !important;
}
section .menu-manager ul li a.active:after {
    content: '\f0da' !important;
    font-family: fontawesome !important;
    position: absolute !important;
    top: 7px !important;
    opacity: 1 !important;
    left: 0 !important;
}
section .manager-user-shopcart .col-md-9 .content{
    padding-bottom: 30px;
}
section .order .tabsbutton {
    margin-top: 25px;
}
section  .order .tabsbutton ul {
    margin: 0 !important;
    padding: 0 !important ;
    width: 100% !important;
    background: #f9fafb !important ;
}
section  .order .tabsbutton ul li {
    list-style: none !important;
    display: inline-block !important;
    width: 33% !important;
    text-align: center !important;
    border: 1px solid #f3f3f3 !important;
    border-bottom: 0 !important;
}
section  .order .tabsbutton ul li a {
    display: block !important;
    padding: 25px 0 !important;
    color: #b9b9b9 !important;
    text-decoration: none !important;
    outline: none !important;
}
section  .order .tabsbutton ul li.active a {
    background: #fff !important;
    color: #f16e8e !important;
}
section  .order .tabsbutton ul li a:hover {
  
    color: #f16e8e !important;
}
section .menu-manager .download {
    padding: 30px 50px 30px;
}